body{
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    
.f{width: 30rem;
    height: 30rem;
    animation-delay: 10s;
    animation-name:scary;
animation-duration: 7s;
animation-iteration-count: infinite;
position: relative;
}
@keyframes scary{
0%{top: 0rem;
   left: 0rem;
} 
6%{top: 2rem;
    left: 5rem;
}
25%{top: 5rem;
left: 8%;
}
54%{
top: 16rem;
left: 18rem;
}
78%{
top: 4%;
left: 19%;

}
}
.o{
height: 40rem;
    width: 90rem;
}
.j{
    margin-left: 20rem;
    width: 10rem;
    animation-name:scary;
animation-duration: 2s;
animation-iteration-count: infinite;
position: relative;
}
@keyframes scary{
0%{top: 0rem;
   left: 0rem;
} 
6%{top: 2rem;
    left: 5rem;
}
25%{top: 5rem;
left: 8%;
}
54%{
top: 16rem;
left: 18rem;
}
78%{
top: 4%;
left: 19%;

}
}
.o{
height: 40rem;
    width: 90rem;
}













